<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>zei</name>
	<displayName><![CDATA[Zei]]></displayName>
	<version><![CDATA[1.4.1]]></version>
	<description><![CDATA[Link your company offers and rewards from Zei !]]></description>
	<author><![CDATA[Zei]]></author>
	<tab><![CDATA[zei_api]]></tab>
	<confirmUninstall><![CDATA[Are you sure to remove your link with Zei ?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>